[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.0.2"
pandas = "*"
pyarrow = "*"
s3fs = "*"

[dev-packages]
pytest = "*"
boto3 = "*"
pylint = "==2.14.5"
black = "==22.6.0"
isort = "*"

[requires]
python_version = "3.9"
