[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.0.2"
boto3 = "*"
mlflow = "*"
psutil = "==5.9.1"
cloudpickle = "2.0.0"

[dev-packages]
requests = "*"
pytest = "*"
deepdiff = "*"
pylint = "==2.14.5"
black = "==22.6.0"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
