[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.0.2"
mlflow = "*"
s3fs = "*"
pyarrow = "*"
boto3 = "*"
prefect = "==2.0b6"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
