[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==0.23.2"
flask = "*"
gunicorn = "*"

[dev-packages]
requests = "*"

[requires]
python_version = "3.9"
