[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.5.0"
pandas = "*"
pyarrow = "*"
s3fs = "*"

[dev-packages]

[requires]
python_version = "3.10"
